{% extends 'watchman\base-watchman.html'%}
{% load static %}   

{% block title %} MySociety -Digital Society({{context.cid.fname}}) {% endblock %}

{% block link %} 
<link rel="stylesheet" href="{% static 'chairman\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
                        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'chairman\assets\css\main.css' %}">
                <link rel="stylesheet" href="{% static 'chairman\assets\css\color_skins.css' %}">
{% endblock %}
{% block Leftbar %}  
<ul class="list">
    <li>
        <div class="user-info">
            <div class="image"><a href="{% url 'watchman-my-profile-page' %}"><img src="{{context.cid.profile_pic.url}}" alt="User"></a></div>
            <div class="detail">
                <h4>{{context.cid.fname}}</h4>
                <small>Neurologist</small>                        
            </div>
        </div>
    </li>
    <!-- <li class="header"></li> -->
    
    <li class=""><a href="{% url 'chairmanpage' %}"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
    <li class=""><a href="{% url 'watchman-my-profile-page' %}"><i class="zmdi zmdi-calendar-check"></i><span>My Profile</span></a></li> 
    <li class="active open"><a href="{% url 'my-society-page' %}"><i class="zmdi zmdi-calendar-check"></i><span>My Society</span></a></li>
    <li class=""><a href="{% url 'calendar-page' %}"><i class="zmdi zmdi-calendar-check"></i><span>Calendar & Event</span></a></li> 
   
    
    <!-- <li class=""><a href="..\appointment\book-appointment.html"><i class="zmdi zmdi-calendar-check"></i><span>Timeline</span></a></li> -->
    <li class="">
        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-calendar-check"></i><span>Events</span></a>
        <ul class="ml-menu">
            <!-- <li class=""><a href="{% url 'add-post-page' %}">Add Events</a></li> -->
            <li class=""><a href="{% url 'view-post-page' %}">View All Events</a></li>                       
            <!-- <li class=""><a href="..\doctor\profile.html">Doctor Profile</a></li>
            <li class=""><a href="..\doctor\events.html">Doctor Schedule</a></li> -->
        </ul>
    </li>
    <li class="">
        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-account-add"></i><span>Notices</span></a>
        <ul class="ml-menu">
            <li class=""><a href="{% url 'add-notice-page' %}">Add Notice</a></li>
            <li class=""><a href="{% url 'view-notice-page' %}">View Notice</a></li>                       
            <!-- <li class=""><a href="..\doctor\profile.html">Doctor Profile</a></li>
            <li class=""><a href="..\doctor\events.html">Doctor Schedule</a></li> -->
        </ul>
    </li>
    <li class="">
        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-account-o"></i><span>Society Members</span></a>
        <ul class="ml-menu">
            <!-- <li class=""><a href="{% url 'add-member-page' %}">Add Members</a></li> -->
            <li class=""><a href="{% url 'member-list-page' %}">All Members</a></li>
            <!-- <li class=""><a href="..\patients\patients-profile.html">Members Profile</a></li> -->
            <!-- <li class=""><a href="..\patients\invoice.html">Invoice</a></li> -->
        </ul>
    </li>
    <li class="">
        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-label-alt"></i><span>Gallery</span></a>
        <ul class="ml-menu">
            <li class=""><a href="{% url 'All-images-collection-page' %}">Images</a></li>
            <li class=""><a href="{% url 'All-video-collection-page' %}">Video</a></li>
          
</ul>
        {% endblock %}

        
{% block content %}




        
        <!-- Right Sidebar -->
             <!-- Chat-launcher -->
<div class="chat-launcher"></div>
<div class="chat-wrapper">
    <div class="card">
        <div class="header">
            <ul class="list-unstyled team-info margin-0">
                <li class="m-r-15"><h2>Dr. Team</h2></li>
                <li>
                    <img src="..\assets\images\xs\avatar2.jpg" alt="Avatar">
                </li>
                <li>
                    <img src="..\assets\images\xs\avatar3.jpg" alt="Avatar">
                </li>
                <li>
                    <img src="..\assets\images\xs\avatar4.jpg" alt="Avatar">
                </li>
                <li>
                    <img src="..\assets\images\xs\avatar6.jpg" alt="Avatar">
                </li>
                <li>
                    <a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a>
                </li>
            </ul>                       
        </div>
        <div class="body">
            <div class="chat-widget">
            <ul class="chat-scroll-list clearfix">
                <li class="left float-left">
                    <img src="..\assets\images\xs\avatar3.jpg" class="rounded-circle" alt="">
                    <div class="chat-info">
                        <a class="name" href="#">Alexander</a>
                        <span class="datetime">6:12</span>                            
                        <span class="message">Hello, John </span>
                    </div>
                </li>
                <li class="right">
                    <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                </li>
                <li class="right">
                    <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                </li>
                <li class="left float-left"> <img src="..\assets\images\xs\avatar2.jpg" class="rounded-circle" alt="">
                    <div class="chat-info"> <a class="name" href="#">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                </li>
                <li class="left float-left"> <img src="..\assets\images\xs\avatar1.jpg" class="rounded-circle" alt="">
                    <div class="chat-info"> <a class="name" href="#">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                </li>
                    <li class="right">
                    <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                </li>
            </ul>
            </div>
            <div class="input-group p-t-15">
                <input type="text" class="form-control" placeholder="Enter text here...">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-mail-send"></i>
                </span>
            </div>
        </div>
    </div>
</div>        <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>All Houses<small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-plus"></i>
                            </button>
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Home</a></li>
                                                            <li class="breadcrumb-item">All Houses</li>
                                                                                        <!-- <li class="breadcrumb-item active">All</li> -->
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        {% for i in context.mcid %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="{{i.home_pic.url}}" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6><b>Home No :- </b>{{i.home_no}}</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Family</small></li>
                            <li><img src="{{context.mid.profile_pic.url}}" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar3.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar4.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar6.jpg" alt="Avatar"></li>
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>{{i.address}}</p>
                        <a href="{% url 'family-member-list-page' pk=i.id %}" class="btn btn-primary btn-simple btn-round">View All Family</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="..\assets\images\image2.jpg" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Pulmonology</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Team</small></li>
                            <li><img src="..\assets\images\xs\avatar2.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar3.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar4.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar6.jpg" alt="Avatar"></li>
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>Who chooses to enjoy a pleasure that has consquences, or one who avoids a pain.[...]</p>
                        <button class="btn btn-primary btn-simple btn-round">More</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="..\assets\images\image3.jpg" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Gynecology</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Team</small></li>
                            <li><img src="..\assets\images\xs\avatar2.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar3.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar4.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar6.jpg" alt="Avatar"></li>
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>Who chooses to enjoy a pleasure that has annoying, or one who avoids a pain.[...]</p>
                        <button class="btn btn-primary btn-simple btn-round">More</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="..\assets\images\image4.jpg" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Neurology</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Team</small></li>
                            <li><img src="..\assets\images\xs\avatar9.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar10.jpg" alt="Avatar"></li>
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>How all this mistaken al idea of denouncing pleasure praisings pain was complete[...]</p>
                        <button class="btn btn-primary btn-simple btn-round">More</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="..\assets\images\image5.jpg" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Urology</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Team</small></li>
                            <li><img src="..\assets\images\xs\avatar5.jpg" alt="Avatar"></li>                                
                            <li><img src="..\assets\images\xs\avatar7.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar8.jpg" alt="Avatar"></li>
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>Who chooses to enjoy a pleasure that has consquences, or one who avoids a pain.[...]</p>
                        <button class="btn btn-primary btn-simple btn-round">More</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="..\assets\images\image6.jpg" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Gastrology</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Team</small></li>
                            <li><img src="..\assets\images\xs\avatar1.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar2.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar8.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar6.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar10.jpg" alt="Avatar"></li>
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>Who chooses to enjoy a pleasure that has annoying, or one who avoids a pain.[...]</p>
                        <button class="btn btn-primary btn-simple btn-round">More</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="..\assets\images\image7.jpg" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Pediatrician</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Team</small></li>
                            <li><img src="..\assets\images\xs\avatar9.jpg" alt="Avatar"></li>                                
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>There anyone loves pursue or desires to pain sed of itself because pain occasionally[...]</p>
                        <button class="btn btn-primary btn-simple btn-round">More</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="..\assets\images\image1.jpg" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Laboratory</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Team</small></li>
                            <li><img src="..\assets\images\xs\avatar5.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar8.jpg" alt="Avatar"></li>
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>Who chooses to enjoy a pleasure that has consquences, or one who avoids a pain.[...]</p>
                        <button class="btn btn-primary btn-simple btn-round">More</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                <div class="pw_img">
                    <img class="img-fluid" src="..\assets\images\image8.jpg" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Gastrology</h6>
                        <ul class="list-unstyled team-info margin-0 p-t-15">
                            <li class="m-r-15"><small>Team</small></li>
                            <li><img src="..\assets\images\xs\avatar1.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar2.jpg" alt="Avatar"></li>
                            <li><img src="..\assets\images\xs\avatar8.jpg" alt="Avatar"></li>                                
                            <li><img src="..\assets\images\xs\avatar10.jpg" alt="Avatar"></li>
                            <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                        </ul>
                    </div>
                    <div class="pw_meta">
                        <p>Take a trivial example, which of ever undertake laborous physically exercise some[...]</p>
                        <button class="btn btn-primary btn-simple btn-round">More</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

            </div>
        </section>
                <!-- Scripts -->
                <script src="{% static 'chairman\assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{% static 'chairman\assets\bundles\vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'chairman\assets\bundles\mainscripts.bundle.js' %}"></script>
                		<!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
    </body>
</html>

{% endblock %}