{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>{% block title %}  {% endblock %}</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
                
                
        {% block link %} 
        {% endblock %}            
            </head>
        <body class="theme-cyan">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'chairman\assets\images\logo.svg' %}" width="48" height="48" alt="Oreo"></div>
        <p>Please wait...</p>        
    </div>
</div>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<nav class="navbar p-l-5 p-r-5">
<ul class="nav navbar-nav navbar-left">
<li>
    <div class="navbar-header">
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="#"><img src="{{context.cid.profile_pic.url}}" width="30"><span class="m-l-10">{{context.cid.fname}} - Digital Society</span></a>
    </div>
</li>


<li class="d-none d-md-inline-block">
    <div class="input-group">                
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-addon">
            <i class="zmdi zmdi-search"></i>
        </span>
    </div>
</li>        
<li class="float-right">
    <a href="{% url 'logout-page' %}" class="mega-menu" data-close="true"><i class="zmdi zmdi-power"></i></a>
    <!-- <a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a> -->
</li>
</ul>
</nav>        <!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
<ul class="nav nav-tabs">
<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#dashboard"><i class="zmdi zmdi-home m-r-5"></i>{{context.cid.fname}}</a></li>
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user">Details</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane stretchRight active" id="dashboard">
    <div class="menu">
        {% block Leftbar %}  
        
        {% endblock %}
        
    </div>
</div>
<div class="tab-pane stretchLeft" id="user">
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info m-b-20 p-b-15">
                    <div class="image"><a href="..\doctor\profile.html"></a><img src="{{context.cid.profile_pic.url}}" /></a></div>
                    <div class="detail">
                        <h4>{{context.cid.fname}}</h4>
                        <small>{{context.uid.email}}</small>                        
                    </div>
                </div>
            </li>
            <li>
                <small class="text-muted">Location: </small>
                <p>{{context.cid.m_id.home_no}}, {{context.cid.m_id.address}}</p>
                <hr>
                <small class="text-muted">Email address: </small>
                <p>{{context.uid.email}}</p>
                <hr>
                <small class="text-muted">Phone: </small>
                <p>+91 {{context.cid.m_id.contactno}}</p>
                <hr>                    
            </li>                    
        </ul>
    </div>
</div>
</div>    
</aside>


<!-- Right Sidebar -->

{% block content%}


{% endblock %}